body {
    display: grid;
    justify-items: end;
    text-align: center;
    align-self: center;
    grid-template-rows: 2fr 1fr 4fr 2fr;
    grid-template-columns: 5fr 2fr;
    gap: 0.5rem;
    padding-top:0px;
    background-color: var(--color-fondo-basico);
}

.fondo {
    background-color: var(--fondo-blanco);
    border-radius: var(--border-radius);
    padding-top: 4%;
}

* {
    padding: var(--padding-general);  
    
}

.full-width {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    align-self: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 3;
}

.flex-container > * {
    min-width: 100px;
}

header {
    border-radius: 1rem;
    height: 15vh;
    background-image: url("../components/img/flores3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-position: center bottom; */
    
}
/*
nav {
   
    
}
*/
main {
    flex-grow: 3;
}

aside {
    background-image: url("../components/img/flores4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-position: center bottom; */
    border-radius: var(--border-radius);
    flex-grow: 1;
    
}

footer {
    background-color: rgb(200, 233, 253);
    height: 4vh;
    border-radius: var(--border-radius);
}