body {
    display: grid;
    justify-items: end;
    text-align: center;
    align-self: center;
    grid-template-rows: 2fr 1fr 4fr 2fr;
    grid-template-columns: 5fr 2fr;
    gap: 0.5rem;
    padding-top:0px;
    background-color: rgb(241, 241, 241);
}

.fondo {
  background-color: white;
  padding-top: 4%;
  border-radius: 1rem;
}

* {

    padding: 1.2rem;
}

.full-width {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    align-self: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 3;
}

.flex-container > * {
    min-width: 100px;
}

h1 {
   
    background-color: rgb(200, 233, 253);
    height: 4vh;
}

nav {
    background-color:rgb(241, 241, 241);
    border-radius: 1rem;
    height: 15vh;
    background-image: url("./components/img/flores2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-position: center bottom; */
}

main {
    list-style: none !important;
    flex-grow: 3;
}

aside {
    background-image: url("./components/img/flores3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-position: center bottom; */
  
    flex-grow: 1;
    border-radius: 1rem;
}

footer {
    background-color: rgb(200, 233, 253);
    height: 4vh;
}